<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=0.9">
<link href="{{level}}css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/theme-fire.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{level}}css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link rel="apple-touch-icon" sizes="180x180" href="{{level}}favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{level}}favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{level}}favicons/favicon-16x16.png">
<link rel="manifest" href="{{level}}favicons/manifest.json">
<link rel="mask-icon" href="{{level}}favicons/safari-pinned-tab.svg" color="#5bbad5">